:root {
    --primary-color: #02740F;
    --secondary-color: #11224E;
    --accent-color-1: #E2EDBF;
    --accent-color-2: #eeeeee;
    --font-family-1: "Fredericka the Great", serif;
    --font-family-2: "Inria Serif", serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

header h1 {
    color: var(--secondary-color);
}

.hamburger {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
    font-family: var(--font-family-2);
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    display: block;
    padding: .8rem 25px;
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: solid 1px var(--accent-color-1);
}

.navigation li.current {
    background-color: var(--accent-color-1);
}

.navigation a:hover {
    color: var(--accent-color-2);
    background-color: var(--secondary-color);
}

h1 {
    margin-left: 25px;
    color: var(--secondary-color);
    font-family: var(--font-family-1);
}

section {
    background-color: var(--accent-color-1);
}

h2 {
    color: var(--secondary-color);
    padding: 5px;
    font-family: var(--font-family-1);
    text-align: center;
}

section h3 {
    background-color: var(--primary-color);
    color: var(--accent-color-2);
    padding: 5px;
    font-family: var(--font-family-1);
    text-align: center;
}

section p {
    text-align: center;
    font-family: var(--font-family-2);
}

section a {
    display: block;
    text-align: center;
    text-decoration: none;
}

section img {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 15px;
}

.filter-btns {
    display: flex;
    width: 100%;
}

.filter-btns button {
    flex: 1;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--accent-color-2)
}

.credits {
    text-align: center;
    margin: 15px 0;
    font-family: var(--font-family-2);
    color: var(--primary-color);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}

.container button {
    font-family: var(--font-family-2);
    color: var(--secondary-color);
}

footer {
    background: var(--secondary-color);
    justify-items: center;
    padding: 10px;
    color: var(--accent-color-2);
    font-family: var(--font-family-2);
}

.social {
    display: flex;
    gap: 25px;
    margin-top: 10px;
}

.social a {
    width: 44px;
    height: 44px;
    display: flex;
}

/*DIRECTORY*/

.toggle button {
    background-color: var(--acceent-color-2);
    font-family: var(--font-family-2);
}

.toggle button.active {
    background-color: var(--primary-color);
    color: var(--accent-color-2);
}

.list-view {
    display: flex;
    flex-direction: column;

}

.list-view img {
    display: none;
}

/*INDEX*/

.hero img {
    width: 100%;
    height: auto;

}

.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.weather div {
    background-color: var(--accent-color-2);
    justify-items: center;
}

.current-weather {
    text-align: center;
}

.events section {
    padding-bottom: 10px;
}

form {
    padding-left: 25px;
}

form label {
    display: block;
    color: var(--primary-color);
    padding-bottom: 1rem;
}

form input:not([type="radio"]),
form textarea {
    display: block;
    width: 90%
}

.description {
    padding-top: 15px;
}

form h3 {
    color: var(--secondary-color);
    font-size: var(--font-family-1);
}

form input[type="submit"] {
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--accent-color-2)
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

aside {
    text-align: center;
    animation: fadeIn 2s ease-out;
}

aside h3 {
    background-color: var(--accent-color-2);
    color: var(--secondary-color)
}

aside button {
    background-color: var(--secondary-color);
    color: var(--accent-color-2);
    margin-bottom: 10px;
}

dialog {
    font-family: var(--font-family-2);
    color: var(--secondary-color);
    text-align: center;
}

.close-button {
    background-color: var(--secondary-color);
    color: var(--accent-color-2);
}

#results {
    padding-left: 25px;
}

.thecard {
    border: 1px solid var(--secondary-color);
    margin: 20px;
    background-color: var(--accent-color-2);
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;

    display: grid;
    grid-template-areas:
    "name"
    "a"
    "c"
    "photo"
    "d";
}

.thecard h2 {
    grid-area: name;
}

.thecard img {
    width: 100%;
    grid-area: photo;
}

.thecard .d {
    grid-area: d;
}

.thecard .a {
    grid-area: a;
}

.thecard .c {
    grid-area: c;
}

.visits  {
    text-align: center;
}