:root {
    --primary-color: #11224E;
    --secondary-color: #F87B1B;
    --accent-color-1: #CBD99B;
    --accent-color-2: #eeeeee;
    --font-family-1: "Fredericka the Great", serif;
    --font-family-2: "Inria Serif", serif;
}