@media (min-width: 700px) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .navigation a {
        border: none;
    }

    .filter-btns button:hover {
        background-color: var(--accent-color-1);
        color: var(--secondary-color);
        cursor: pointer;
    }

    .grid-view {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
    }

    .list-view section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 20px;
    }

}