header,
main,
nav,
footer, div {
    max-width: 900px;
    margin: 0 auto;
}

header {
    grid-template-columns: 24px auto;
}

.hamburger {
    display: none;
}

.navigation {
    display: block;
    border-bottom: solid 1px #eee;
}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation a {
    border: none;
}

dialog {
    width: 25%;
}